* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c0c0c0;
    width: 100vw;
}

header {
    height: 70px;
}

nav {
    background-color: rgb(248, 212, 4);
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 1;
}

nav .branch {
    display: flex;
    align-items: center;
}

nav .branch .logo {
    width: 70px;
    margin: 0px 20px;

}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav div button i {
    font-size: 1.5rem;
}

nav div button {
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    margin: 30px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

button i span {
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 10px;
    padding: 3px;
    position: absolute;
    top: 0;
    right: 1px;
}

/* Estilo Tarjetas */

.wrapper {
    min-height: 100vh;
    width: 100vw;
    /* background-color: #f3f3f3; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.product {
    width: 500px;
    height: 250px;
    background-color: #fafafa;
    padding: 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 15px;
    border: 1px solid rgba(95, 66, 66, 0.3);
    border-radius: 5px;
    box-shadow: 5px 15px 30px rgba(78, 95, 248, 0.3);
    transition: 0.5s ease;
}

.product:hover {
    background: linear-gradient(to right, #ad000e, #e2c104);
    color: #fff;
}

.product:hover div button {
    border: 1px solid #fff;
    color: #fff;
}

.product span {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 3px 10px;
    border-radius: 4px;
    background-color: rgb(214, 49, 118);
    color: #fff;
    font-size: 12px;
}

.product .prod-image {
    flex-basis: 30%;
    height: 100%;
    text-align: center;
}

.prod-image img {
    width: 80%;
    margin: 15px;
    transition: 0.3s ease;
}

.prod-image:hover img {
    transform: translateY(-15px);
}

.product .prod-details {
    flex-basis: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.product .prod-details h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin-bottom: 15px;
}

.product .prod-details p {
    margin-bottom: 15px;
    font-size: 0.8rem;
}

.product .prod-details h4 i {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin: 15px 0px;
}

.btn-agregar {
    color: rgb(214, 49, 118);
    background-color: transparent;
    border: 1px solid rgb(214, 49, 118);
    border-radius: 5px;
    padding: 5px 18px;
    font-size: 14px;
    cursor: pointer;
}

/* Estilo del modal */

.modal {
    width: 25vw;
    max-height: 0;
    background-color: rgb(250, 250, 250, 0.9);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: fixed;
    top: 70px;
    right: 0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    transition: max-height 0.3s linear;

}

.modal-show {
    max-height: 300px;
    transition: max-height 0.3s linear;
}

.modalCarrito {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-carrito {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 900;
}

hr {
    margin-bottom: 10px;
    width: 100%;
}

.contenidoCarrito {
    overflow: scroll;
}

.item-carrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.item-carrito .img-item {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
}

.item-carrito .img-item img {
    width: 50%;
}

.item-carrito .desc-item {
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    font-weight: 300;

}

.item-carrito .desc-item p i {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 900;
}

.item-carrito .btn-item button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.item-carrito .btn-item button i {
    font-size: 30px;
    font-weight: 600;
    color: #333232;
}

.modal .modalCarrito .precio-total {
    margin-bottom: 20px;
}

.modalCarrito .botonesModal {
    display: flex;
}

.modalCarrito .botonesModal .btn-modal {
    width: 50%;
    margin: 20px;
}



@media screen and (max-width: 768px) {

    .wrapper {
        flex-direction: column
    }

    .product div btn-agregar {
        padding: 7px 12px;
        font-size: 12px;
    }

}